.regional-map {
  width: 100%;
  min-height: 800px;
  .marker-container {
    @include display-flex;
    @include flex-direction(column);
    @include align-items(center);
  }
  .media-title {
    font-weight: bold;
    text-transform: capitalize;
  }
  .regional-slices-container {
    max-height: 425px;
    overflow: scroll;
  }
  .slice-link {
    @include display-flex;
    margin-bottom: 15px;
  }
  .media-image img {
    width: 50px;
  }
  .media-body {
    font-weight: bold;
    text-transform: capitalize;
    margin-left: 25px;
  }
}