.search-and-filter {
  margin-top: 1.5rem;
  width: 100%;
  @include display-flex;
  @include flex-direction(row);
  @include justify-content(center);
  .standard-container {
    width: 1250px;
  }
  .search-button {
    height: 40px;
  }
  textarea.taggable-textarea {
    min-height: 40px;
  }
}