table {
  width: 100%;
  border-collapse: collapse;
}
tr.filler-15px {
  td {
    height: 15px;
    line-height: 15px;
  }
}
tr.filler-20px {
  td {
    height: 20px;
    line-height: 20px;
  }
}
tr.filler-30px {
  td {
    height: 30px;
    line-height: 30px;
  }
}
td.filler-15px {
  display: block;
  width: 15px;
}
td.filler-30px {
  display: block;
  width: 30px;
}
.header {
  background: {
    color: #795548
  }
  color: #eee;
}
.headline {
  font-size: 1.45rem;
  text-align: center;
  font-weight: bold;
}
.header,
.body,
.footer,
.the-gist,
.real-footer {
  width: 600px;
  margin-right: auto;
  margin-left: auto;
}
.formal-address {
  font-size: 1.25rem;
  text-transform: capitalize;
  &::after {
    content: ",";
  }
}
.date {
  &::after {
    content: ",";
  }
}

.product-owner,
.offer-company {
  text-transform: capitalize;
  font-weight: bold;
}

.footer,
.real-footer {
  border-bottom: 1px solid #D7CCC8;
  padding-bottom: 1.5rem;
  padding-top: 1.5rem;
}

.real-footer,
.shoddy {
  text-align: center;
  font-size: 0.75rem;
  color: #BDBDBD;
}

.the-gist {
  &:nth-child(even) {
    background-color: #eee;
  }
}

.float-right {
  float: right;
}

.sent-date {
  color: #666;
  font-size: 0.85rem;
}

.bold {
  font-weight: bold;
}
.upcase {
  text-transform: uppercase;
}
.colon::after {
  content: ": ";
}